<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="provider-stl-soa"/>

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <!--<dubbo:registry address="multicast://224.5.6.7:1234?unicast=false"/>-->

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://10.129.221.158:2181?backup=10.129.221.158:2182,10.129.221.158:2183"/>

    <dubbo:monitor protocol="registry"/>

    <!-- 指定协议暴露服务 -->
    <dubbo:protocol name="hessian" port="8080" server="servlet"/>
    <dubbo:protocol name="dubbo" port="28080"/>
    <dubbo:service interface="cn.com.yto56.coresystem.stl.soa.business.module.soa.IStlSoaForEinvoiceController"
                   ref="stlSoaForEinvoiceController"
                   path="/stlSoaForEinvoiceController"/>
</beans>